.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro ul {
    display: flex;

    list-style: none;
}

.filtro li {
    margin-right: 15px;
}

.filtro button {
    background-color: #e3e9f6;
    color: #2563eb;
    display: flex;
    align-items: center;
    border: 2px solid #bcd0f7;
    border-radius: 8px;
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    box-shadow: 0 2px 8px #2563eb22;
    transition: background 0.2s, box-shadow 0.2s;
    margin: 0 2px;
}

.filtro button svg {
    margin-right: 5px;
}

.filtro .urgente {
    color: red;
}

.filtro .moderado {
    color: orange;
}

.filtro .normal {
    color: green;
}

.filtro button.ativo {
    background-color: #bbb;
    font-weight: 700;
}